<footer class="mt-2">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://x.com/Dnyanesh3256" target="_blank" class="a-footer-link"><i class="fa-brands fa-x-twitter twitter"></i></a>
            <a href="https://www.instagram.com/d_tupe3256/" target="_blank" class="a-footer-link"><i class="fa-brands fa-square-instagram instagram"></i></a>
            <a href="https://www.linkedin.com/in/dnyaneshwar-tupe-483a95260/" target="_blank" class="a-footer-link"><i class="fa-brands fa-linkedin linkedin"></i></a>
        </div>

        <div class="f-info-brand">&copy; StayZ Private Limited</div>

        <div class="f-info-links">
            <a href="/stayz/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>